<% if notice.present? %>
    <p class="notice text-center" style="background-color: #238a11;padding: 15px;color: white"><%= notice %></p>
<% elsif alert %>
    <p class="alert text-center" style="background-color: red;padding: 15px;color: white"><%= alert %></p>
<% end %>