<% if notice.present? %>
    <div class="notice text-center" style="background-color: #238a11;padding: 15px;color: white"><%= notice %></div>
<% elsif alert %>
    <div class="alert text-center" style="background-color: red;padding: 15px;color: white"><%= alert %></div>
<% end %>