<div id="footer" class="fs-5 text-secondary text-center" style="line-height:100px;">
    <!-- aficher le copyright du footer -->
    Copyright &copy; <%= Time.now.year %> par <%= current_user.username %>
</div>