<div class="container">
    <h1 class="text-center">Adminstrateur</h1>
    <%= render 'administration/utils/nav_links' %>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">commentaires</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>