<h1 class="text-center">Adminstrateur</h1>
<%= render 'administration/utils/nav_links' %>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col" colspan="2">commentaires</th>
    </tr>
    </thead>
    <tbody>
        <% @commentaires.each do |commentaire| %>
        <tr>
            <th scope="row"><%= commentaire.id %></th>
            <td><%= commentaire.user.username %></td>
            <td><%= commentaire.contenu %></td>
            <td></td>
        </tr>
        <% end %>

    </tbody>
</table>