<% if article.file.attached? %>
    <div class="row g-0">
        <% if article.file.image? %>
            <div class="message-image-container">
                <%= image_tag(article.file, class: "message-image", style: "width:100%; height:250px;") %>
            </div>
        <% elsif article.file.video? %>
            <div class="message-video-container">
                <%= video_tag(url_for(article.file), class: "message-video", style: "width:100%; height:350px;", controls: "") %>
            </div>
        <% elsif article.file.audio? %>
            <div class="message-audio-container">
                <%= audio_tag(url_for(article.file), class: "message-audio", style: "width:100%; height:250px;", controls: "") %>
            </div>
        <% else %>
            <%= link_to article.file.filename, url_for(article.file), class: "message-file" %>
        <% end %>
    </div>
<% end %>