<div class="container">
    <h1 class="peer">Pages#accueil</h1>
    <p>Find me in app/views/pages/accueil.html.erb</p>
    <%= link_to 'boutique', boutique_path %>
    <%= link_to 'about', about_path %>
    <%= link_to 'contact', contact_path %>
</div>