/* Bouton de j'aime des articles */
.buttonUP {
  border: none !important;
  background-color: white !important;
  color: red !important;
}
.buttonDOWN {
  border: none !important;
  background-color: white !important;
  color: blue !important;
}
/* Bouton des Tags des articles */
.tag {
  background: #0045c6;
  color: #fff;
  padding: 0.3em;
  margin: 0.2em;
  border-radius: 0.3em;
  display: inline-block;
}

/* .sidebar_titre {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    margin-top: 56px;
    height: 40px;
    width: 300px;
    line-height: 5px;
}*/
/* .sidebar {
    position: fixed;
    width: 200px;
    z-index: 1;
    left: 0;
    top: 115px;
    margin-top: auto;
    border-right: 1px solid #162636;
    height: 100%;
} */
/* img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-content: center;
    object-position: center;
    transition: transform ease-in-out 0.5s;
} */

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

#footer {
  position: relative;
  /* negative value of footer height */
  height: 100px;
  clear: both;
  background-color: #212529;
}
