/* .todoHeader,
.formListe {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .formListe input,
.formListe button {
  padding: 0.5rem;
  font-size: 18px;
  border: 0.5px solid #c2c2c2;
  background: white;
  border-radius: 2rem;
}
.formListe button {
  color: rgb(255, 200, 0);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 0.5rem;
}
.formListe button:hover {
  color: white;
  background: rgb(255, 200, 0);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0.5px solid #c2c2c2;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  padding: 0.5rem;
}
select {
  color: rgb(255, 200, 0);
  width: auto;
  height: 3rem;
  cursor: pointer;
  padding: 5px;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: rgb(255, 200, 0);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select::hover::after {
  background: white;
  color: rgb(255, 200, 0);
} */
