<div id="<%= dom_id category %>">
    <h2>
        <strong>Catégorie:</strong>
        <%= category.nom %>
    </h2>
    <% category.articles.each do |art| %>
        <p>
            <span><%= art.titre %> | <%= link_to "Voir l'article", art %></span>
        </p>
    <% end %>

</div>
