<div id="<%= dom_id category %>">
    <p>
        <% target = action_name.eql?("show") ? categories_path : category %>
        <%= link_to category.nom.capitalize, target %>
    </p>

</div>

<div class="row mb-4">
    <div class="card-footer">
        <div class="col-12">
            <% category.articles.each do |art| %>
                <%= link_to art.titre, article: art %>&nbsp; - &nbsp;
            <% end %>
        </div>
    </div>
</div>